################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SatyaSseTa.BookStore/.vs/SatyaSseTa.BookStore
/SatyaSseTa.BookStore/SatyaSseTa.BookStore/bin/Debug/netcoreapp3.1
/SatyaSseTa.BookStore/SatyaSseTa.BookStore/obj
